<div *ngIf="editForm.dirty">
  <mat-card class="mat-card-info" fxLayoutAlign="center center"><strong>Information:</strong> You have made changes. Any
    unsaved changes
    will be lost!</mat-card>
</div>
<form #editForm="ngForm" (ngSubmit)="updateEmployee()">
  <h4 mat-dialog-title fxLayoutAlign="center center">
    {{ employee?.titleOfCourtesy }} {{ employee?.lastName }}
    {{ employee?.firstName }}
  </h4>
  <mat-dialog-content fxLayout="row">
    <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="start start" fxLayoutGap="20px grid">
      <div fxFlex="20">
        <mat-form-field appearance="none">
          <mat-label>Title of courtesy</mat-label>
          <input matInput type="text" [(ngModel)]="employee.titleOfCourtesy" name="titleOfCourtesy" />
        </mat-form-field>
      </div>
      <div fxFlex="40">
        <mat-form-field appearance="none">
          <mat-label>Lastname</mat-label>
          <input matInput required type="text" [(ngModel)]="employee.lastName" name="lastName" />
        </mat-form-field>
      </div>
      <div fxFlex="40">
        <mat-form-field appearance="none">
          <mat-label>Firstname</mat-label>
          <input matInput type="text" [(ngModel)]="employee.firstName" name="firstName" />
        </mat-form-field>
      </div>
      <div fxFlex="33.3">
        <mat-form-field appearance="none">
          <mat-label>Birthdate</mat-label>
          <input matInput type="text" [ngModel]="employee.birthDate | germanDateFormat" name="hireDate" />
        </mat-form-field>
      </div>
      <div fxFlex="16.65">
        <mat-form-field appearance="none">
          <mat-label>City</mat-label>
          <input matInput type="text" [(ngModel)]="employee.city" name="city" />
        </mat-form-field>
      </div>
      <div fxFlex="16.65">
        <mat-form-field appearance="none">
          <mat-label>Region</mat-label>
          <input matInput type="text" [(ngModel)]="employee.region" name="region" />
        </mat-form-field>
      </div>
      <div fxFlex="16.65">
        <mat-form-field appearance="none">
          <mat-label>Postal code</mat-label>
          <input matInput type="text" [(ngModel)]="employee.postalCode" name="postalCode" />
        </mat-form-field>
      </div>
      <div fxFlex="16.65">
        <mat-form-field appearance="none">
          <mat-label>Country</mat-label>
          <input matInput type="text" [(ngModel)]="employee.country" name="country" />
        </mat-form-field>
      </div>
      <div fxFlex="16.65">
        <mat-form-field appearance="none">
          <mat-label>Home phone</mat-label>
          <input matInput type="text" [(ngModel)]="employee.homePhone" name="homePhone" />
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <mat-form-field appearance="none">
          <mat-label>Address</mat-label>
          <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" matInput
            [(ngModel)]="employee.address" name="address"></textarea>
        </mat-form-field>
      </div>
      <div fxFlex="53.35">
        <mat-form-field appearance="none">
          <mat-label>Notes</mat-label>
          <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" matInput
            [(ngModel)]="employee.notes" name="notes"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="center center" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
    fxLayoutGap.lt-md="0px">
    <button [disabled]="!editForm.dirty" mat-raised-button color="primary">
      Save Changes
    </button>
  </mat-dialog-actions>
</form>