<div>
  <mat-card class="admin-panel-card">
    <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="20px grid">
      <mat-card-title>Admin Panel</mat-card-title>
    </div>
    <mat-tab-group animationDuration="800ms" mat-align-tabs="center">
      <mat-tab label="User Management">
        <app-user-management></app-user-management>
      </mat-tab>
      <mat-tab label="Employee Management">
        <app-employee-management></app-employee-management>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>