<mat-grid-list cols="1" rowHeight="3:1">

  <mat-grid-tile>
    <div *ngIf="loggedIn()">
      <h2>
        Welcome {{ authService.decodeToken?.unique_name | titlecase }}
      </h2>
    </div>
    <div *ngIf="!loggedIn()" style="text-align: center;">
      <h2>You are welcome</h2>
    <br>
      <button mat-raised-button color="accent" (click)="navToRegister()">Register</button>
      <button mat-raised-button color="primary" (click)="navToLogin()">Log In</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>