<div *ngIf="loggedIn()">
  <mat-form-field appearance="none">
    <mat-label
      >Welcome {{ authService.decodeToken?.unique_name | titlecase }}</mat-label
    >
    <mat-select>
      <mat-option (click)="openDialogEmployeeEdit(authService.decodeToken.nameid)">
        <i class="material-icons">account_circle</i>
        Edit Profile
      </mat-option>
      <mat-divider></mat-divider>
      <mat-option (click)="logout()">
        <i class="material-icons">logout</i>
        Logout
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="!loggedIn()">
  <button mat-icon-button matTooltip="Sign up" (click)="navToRegister()">
    <mat-icon>how_to_reg</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Log in"  (click)="navToLogin()">
    <mat-icon>login</mat-icon>
  </button>
</div>
